[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sen2r"]
	path = sen2r
	url = https://github.com/ranghetti/sen2r
	shallow = true
	registered = true
